<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../resource/js/custom.js"></script>;
    <script type="text/javascript">
        $.getJSON('/list', function(data) {
            var elem = document.getElementById("table");
            data.forEach(function (item, i, data) {
                var row = elem.insertRow(i+1);
                var nameRes = row.insertCell(0);
                var log = row.insertCell(1);
                var pass = row.insertCell(2);
                nameRes.innerHTML=data[i].nameResource;
                log.innerHTML=data[i].login;
                pass.innerHTML=data[i].password;
                document.body.appendChild(elem);
            })
           // alert(data[0].nameResource);
        });
    </script>
</head>
<body>
<table id="table">
    <tr>
        <th>Resource</th>
        <th>Login</th>
        <th>Password</th>
    </tr>
</table>

</body>
</html>